---
import Layout from "@/layouts/Layout";
---

<Layout title="Astro">
	<main class="
		grid place-content-center 
		min-h-screen gap-1 
		bg-linear-to-bl from-red-500 to-indigo-400 
		text-white text-center
	">
		<h1 class="text-5xl font-bold"> Astro </h1>
		<p class="text-sm"> Plantilla predefinida </p>
	</main>
</Layout>